<!DOCTYPE html>
<html>
<head>
<style>
	fieldset{margin-left: 300px; margin-right: 300px; border-width: 0px; margin-top: -60px;}
	td{align-content: left;}
	table{border-collapse: collapse; width: 100%;}
	td {padding: 3px;text-align: left;}
	tr:hover {background-color:#f5f5f5;}
  a{text-align: left;}
</style>
</head>
<img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" alt="Exalogic Solutions">
<fieldset style="text-align: center;" >
<body>
  <div class="sidenav">
		<% if session[:user_type]=='admin'%>
    <a href="/users"><img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" alt="Exalogic Solutions"></a><br>
    <a href="/users/new">Employee Registration</a>
    <a href="http://www.exalogic.in/">About Us</a>
    <%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Do you want to logout?"} %>
		<% else %>
		<a href="#"><img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" alt="Exalogic Solutions"></a><br>
		<a href="http://www.exalogic.in/">About Us</a>
		<%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Do you want to logout?"} %>
		<% end %>
  </div>
<p id="notice"><%= notice %></p>
<legend><h2>Welcome <%= @user.fname%></h2></legend>
<table align = center>
  <tr>
	<td><strong>First Name:</strong></td>
	<td><%= @user.fname %></td>
	<td><strong>Last Name:</strong></td>
	<td><%= @user.lname %></td>
  </tr>
  <tr>
	<td><strong>Age:</strong></td>
 	<td><%= @user.age.to_i %></td>
 	<td><strong>Gender:</strong></td>
	<td><%= @user.gender %></td>
  </tr>
  <tr>
	<td><strong>Salary Per Annum:</strong></td>
	<td><%= @user.salary_per_annum.to_i %></td>
	<td><strong>Salary Per Month:</strong></td>
	<td><%= @user.salary_per_month.to_i %></td>
  </tr>
  <tr>
  	<td><strong>Date of Joining:</strong></td>
	<td><%= @user.date_of_joining %></td>
	<td></td>
	<td></td>
  </tr>
  <tr>
	<td><strong>Email:</strong></td>
	<td><%= @user.email %></td>
	<td><strong>Mobile:</strong></td>
	<td><%= @user.phonenumber.to_i %></td>
    </tr>
  <tr>
  	<td><strong>Address:</strong></td>
	<td><%= @user.address %></td>
  	<td><strong>City:</strong></td>
	<td><%= @user.city %></td>
  </tr>
   	<td><strong>State:</strong></td>
	<td><%= @user.state %></td>
	<td><strong>Pincode:</strong></td>
	<td><%= @user.pincode.to_i %></td>
  <tr>
  </tr>
  <tr>
  	<td><strong>Country:</strong></td>
	<td><%= @user.country %></td>
	<td><strong>Blood Group:</strong></td>
	<td><%= @user.blood_type %></td>
  </tr>
  <tr>
	<td><strong>Emergency Contact Name:</strong></td>
	<td><%= @user.emergency_name %></td>
	<td><strong>Emergency Contact Number:</strong></td>
	<td><%= @user.emergency_number.to_i %></td>
  </tr>
  <tr>
	<td><strong>Primary Skill:</strong></td>
	<td><%= @user.primary_skill %></td>
	<td><strong>Secondary Skill 1:</strong></td>
	<td><%= @user.secondary_skill1 %></td>
  </tr>
  <tr>
	<td><strong>Secondary Skill 2:</strong></td>
	<td><%= @user.secondary_skill2 %></td>
	<td><strong>Notice Period(in days):</strong></td>
	<td><%= @user.notice.to_i %></td>
  </tr>
  <tr>
    </tr>
</table>
<br>
<br>
<% if session[:user_type]=='admin'%>
	<%= link_to 'Edit', edit_user_path(@user), :class => "links" %>
	<%= link_to 'Back', users_path, :class => "links" %>
<% end %>
</body>
</fieldset>
</html>
